<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Files in <%= folder.name %> Folder</h2>

    <form action="/upload/<%= folder._id %>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <h3>Files</h3>
    <ul>
        <% folder.files.forEach(file=> { %>
            <li>
                <%= file.name %> - <%= file.type %>
                        <% if (file.type==='image' ) { %>
                            <img src="/<%= file.path %>" width="100">
                            <% } %>
                                <% if (file.type==='pdf' ) { %>
                                    <a href="/<%= file.path %>" target="_blank">View PDF</a>
                                    <% } %>
            </li>
            <% }) %>
    </ul>
</body>

</html>